@tailwind base;
@tailwind components;
@tailwind utilities;

.preview.relative::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5); /* Grau mit 50% Deckkraft */
    border-radius: inherit; /* Wenn der Container abgerundete Ecken hat */
  }